# Project information
site_name: Dafda
site_description: Dafda documentation
#site_author: 'Martin Donath'
#site_url: 'https://squidfunk.github.io/mkdocs-material/'

# Repository
repo_name: "dfds/dafda"
repo_url: "https://github.com/dfds/dafda"

sidebar: false

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  logo: imgs/kafka-icon.svg
  feature:
    tabs: true

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
      linenums: false
  - footnotes
  - toc:
      permalink: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true

extra_css:
  - "stylesheets/critic.css"

pages:
  - index.md
  - installation.md
  - configuration.md
  - messages.md
  - consumer.md
  - producer.md
  - outbox.md
